*{
    box-sizing: border-box;
}

.h3{
    font-family:  Helvetica, Arial, sans-serif, ;
    font-size: 125%;
    color: #696969;
}
.container{
    position: relative;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 40%;
    height: 500px;
    background-color: white;
    box-shadow: 1px 1px 7px #888888;
    border-radius: 3%;
}
.question{

    padding: 40px 0px 0px 0px;
    text-align: center;
}
.next{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 5px 5px 5px ;
    width: 40%;
    background-color: white;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 1em;
    border-image-source: linear-gradient(to right,#47B5FF,#1363DF);
}
.main-body{
    
    position: absolute;
    top: 20%;
    display: block;
    width: 100%;
    margin-left:auto ;
    margin-right: auto;
    
}
.egt-box{
    position: absolute;
    top: 230px;
    left: 95px;
    width: 10%;
    height: 5%;
    border: 1px solid black;
}