*{
    box-sizing: border-box;
}

.h3{
    font-family:  Helvetica, Arial, sans-serif, ;
    font-size: 125%;
    color: #696969;
}
.container-q2{
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 7px #888888;
    border-radius: 3%;
    margin-left: auto ;
    margin-right: auto;
    padding: 0px 0px 40px 0px;
}
.container-q2::after{
    display: block;
    background-image: url("../public/Assets/Images/default-finger.png");
    background-repeat: no-repeat;
    content: "";
    margin-left: auto ;
    margin-right: auto;
}
.container-q1{
    position: relative;
    background-color: white;
    margin-left: auto ;
    margin-right: auto;
    box-shadow: 1px 1px 7px #888888;
    border-radius: 3%;
}
.container-q1::after{
    display: block;
    background-image: url("../public/Assets/Images/default-abs.png");
    background-repeat: no-repeat;
    content: "";
    margin-left: auto ;
    margin-right: auto;
    
}
.question{
    padding: 40px 0px 0px 0px;
    text-align: center;
}
.main-body{
    position: absolute;
    display: block;
    width: 100%;
    padding-bottom: 20%;
    margin-left: auto ;
    margin-right: auto;
    z-index: 0;
}


.all-abs-box, .egt-box, .ruq-box, .rlq-box, .luq-box, .llq-box, .umbilicus-box, .suprapubic-box, .others-box, .lf-dip-box, .rf-dip-box, .mf-dip-box, .if-dip-box, .lf-pip-box, .rf-pip-box, .mf-pip-box, .if-pip-box, .tb-pip-box, .lf-mcp-box, .rf-mcp-box, .mf-mcp-box, .if-mcp-box, .tb-mcp-box{
    position: absolute;
    /* border: 1px solid black; */
    z-index: 2;
}
.egt-hl, .ruq-hl, .rlq-hl, .luq-hl, .llq-hl, .umbilicus-hl, .suprapubic-hl, .all-abs-btn-hl, .dip-hl, .pip-hl, .mcp-hl, .others-hl{
    position: absolute;
    z-index: 1;
}
.egt-ct, .ruq-ct, .rlq-ct, .luq-ct, .llq-ct, .umbilicus-ct, .suprapubic-ct, .dip-ct, .pip-ct, .mcp-ct{
    position: absolute;
}

.next{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 5px 5px 5px ;
    background-color: white;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 1em;
    border-image-source: linear-gradient(to right,#47B5FF,#1363DF);
}
/*-------- Large Devices --------*/
/*------- 992px and above -------*/
@media (min-width: 992px) {
    .container-q1{
        margin-top: 10%;
        width: fit-content;
        height: fit-content;
    }
    .container-q1::after{
        background-size: 420px 450px;
        width: 420px;
        height: 450px;
    }
    .all-abs-box{
        top: 89%;
        left: 33%;
        width: 30%;
        height: 7%;
    }
    /* epigastrium */
    .egt-box{
        top: 45%;
        left: 43%;
        width: 10%;
        height: 7%;
    }
    .egt-hl{
        top: 14.7%;
        left: 2.4%;
        width: 95%;
        height: 84%;
    }
    .egt-ct{
        top: 14%;
        left: 5.5%;
        width: 91%;
        height: 84%;
    }
    /* luq */
    .luq-box{
        top: 51%;
        right: 37%;
        width: 10%;
        height: 7%;
    }
    .luq-hl{
        top: 14.8%;
        left: 1%;
        width: 98%;
        height: 84%;
    }
    .luq-ct{
        top: 16%;
        left: 7%;
        width: 91%;
        height: 84%;
    }
    /* llq */
    .llq-box{
        top: 60%;
        right: 37%;
        width: 10%;
        height: 7.5%;
    }
    .llq-hl{
        top: 14.3%;
        left: 0.5%;
        width: 99%;
        height: 85%;
    }
    .llq-ct{
        top: 15%;
        left: 5%;
        width: 91%;
        height: 84%;
    }
    /* umbilicus */
    .umbilicus-box{
        top: 56%;
        left: 44%;
        width: 9%;
        height: 7%;
    }
    .umbilicus-hl{
        top: 14.9%;
        left: 2%;
        width: 96%;
        height: 84%;
    }
    .umbilicus-ct{
        top: 16%;
        left: 5.5%;
        width: 91%;
        height: 84%;
    }
    /* suprapubic */
    .suprapubic-box{
        top: 65%;
        left: 43%;
        width: 10%;
        height: 8%;
    }
    .suprapubic-hl{
        top: 14.6%;
        left: 1.39%;
        width: 97%;
        height: 85%;
    }
    .suprapubic-ct{
        top: 15%;
        left: 10%;
        width: 91%;
        height: 84%;
    }
    /* rlq */
    .rlq-box{
        top: 60%;
        left: 33%;
        width: 10%;
        height: 9%;
    }
    .rlq-hl{
        top: 15%;
        left: 0.7%;
        width: 98%;
        height: 84%;
    }
    .rlq-ct{
        top: 11%;
        left: 4%;
        width: 91%;
        height: 84%;
    }
    /* ruq */
    .ruq-box{
        top: 51%;
        left: 34%;
        width: 10%;
        height: 8%;
    }
    .ruq-hl{
        top: 14.7%;
        left: 0.8%;
        width: 98%;
        height: 84%;
    }
    .ruq-ct{
        top: 22%;
        left: 4%;
        width: 91%;
        height: 84%;
    }
    .all-abs-btn-hl{
        top: 15.5%;
        left: 1.5%;
        width: 97%;
        height: 84.2%;
    }
    .container-q2{
        margin-top: 10%;
        width: fit-content;
        height: fit-content;
    }
    .container-q2::after{
        background-size: 420px 450px;
        width: 420px;
        height: 450px;
    }
    .others-box{
        top: 85%;
        left: 14%;
        width: 69%;
        height: 7%;
    }
    /* dip */
    .lf-dip-box{
        top: 32%;
        left: 20%;
        width: 7%;
        height: 3%;
    }
    .rf-dip-box{
        top: 23.5%;
        left: 32%;
        width: 7%;
        height: 3%;
    }
    .mf-dip-box{
        top: 20%;
        left: 43%;
        width: 7%;
        height: 3%;
    }
    .if-dip-box{
        top: 22%;
        left: 55%;
        width: 7%;
        height: 3%;
    }
    .dip-hl{
        top: 12.4%;
        left: 0.2%;
        width: 99.5%;
        height: 82%;
    }
    .dip-ct{
        top: 12.05%;
        left: 0%;
        width: 100%;
        height: 84.2%;
    }
    /* pip */
    .lf-pip-box{
        top: 38%;
        left: 24%;
        width: 6%;
        height: 3%;
    }
    .rf-pip-box{
        top: 31.5%;
        left: 33%;
        width: 7%;
        height: 3%;
    }
    .mf-pip-box{
        top: 29%;
        left: 44%;
        width: 7%;
        height: 3%;
    }
    .if-pip-box{
        top: 30%;
        left: 55%;
        width: 7.5%;
        height: 3%;
    }
    .tb-pip-box{
        top: 45.5%;
        right: 17%;
        width: 7%;
        height: 3.5%;
    }
    .pip-hl{
        top: 12.45%;
        left: 0%;
        width: 100%;
        height: 81.7%;
    }
    .pip-ct{
        top: 12.05%;
        left: 0%;
        width: 100%;
        height: 84.2%;
    }
     /* mcp */
     .lf-mcp-box{
        top: 45%;
        left: 27%;
        width: 8.5%;
        height: 4%;
    }
    .rf-mcp-box{
        top: 42%;
        left: 36%;
        width: 8%;
        height: 4.5%;
    }
    .mf-mcp-box{
        top: 41%;
        left: 44.5%;
        width: 8.5%;
        height: 4%;
    }
    .if-mcp-box{
        top: 40.5%;
        left: 54%;
        width: 8%;
        height: 4.5%;
    }
    .tb-mcp-box{
        top: 54%;
        right: 25%;
        width: 7%;
        height: 5%
        ;
    }
    .mcp-hl{
        top: 11.6%;
        left: 0%;
        width: 100%;
        height: 82.9%;
    }
    .mcp-ct{
        top: 12.05%;
        left: 0%;
        width: 100%;
        height: 84.2%;
    }

    .others-hl{
        top: 9.2%;
        left: 0%;
        width: 100%;
        height: 84%;
    }
    .next{
        width: 450px;
        margin-bottom: 50px;
    }
}
/*------- Medium Devices -------*/
/*------- 768px to 991px -------*/
@media (min-width:768px) and (max-width:991px){
    .container-q1{
        margin-top: 10%;
        width: fit-content;
        height: fit-content;
    }
    .container-q1::after{
        background-size: 420px 450px;
        width: 420px;
        height: 450px;
    }
    .all-abs-box{
        top: 89%;
        left: 33%;
        width: 30%;
        height: 7%;
    }
    /* epigastrium */
    .egt-box{
        top: 45%;
        left: 43%;
        width: 10%;
        height: 7%;
    }
    .egt-hl{
        top: 14.7%;
        left: 2.4%;
        width: 95%;
        height: 84%;
    }
    .egt-ct{
        top: 14%;
        left: 5.5%;
        width: 91%;
        height: 84%;
    }
    /* luq */
    .luq-box{
        top: 51%;
        right: 37%;
        width: 10%;
        height: 7%;
    }
    .luq-hl{
        top: 14.8%;
        left: 1%;
        width: 98%;
        height: 84%;
    }
    .luq-ct{
        top: 16%;
        left: 7%;
        width: 91%;
        height: 84%;
    }
    /* llq */
    .llq-box{
        top: 60%;
        right: 37%;
        width: 10%;
        height: 7.5%;
    }
    .llq-hl{
        top: 14.3%;
        left: 0.5%;
        width: 99%;
        height: 85%;
    }
    .llq-ct{
        top: 15%;
        left: 5%;
        width: 91%;
        height: 84%;
    }
    /* umbilicus */
    .umbilicus-box{
        top: 56%;
        left: 44%;
        width: 9%;
        height: 7%;
    }
    .umbilicus-hl{
        top: 14.9%;
        left: 2%;
        width: 96%;
        height: 84%;
    }
    .umbilicus-ct{
        top: 16%;
        left: 5.5%;
        width: 91%;
        height: 84%;
    }
    /* suprapubic */
    .suprapubic-box{
        top: 65%;
        left: 43%;
        width: 10%;
        height: 8%;
    }
    .suprapubic-hl{
        top: 14.6%;
        left: 1.39%;
        width: 97%;
        height: 85%;
    }
    .suprapubic-ct{
        top: 15%;
        left: 10%;
        width: 91%;
        height: 84%;
    }
    /* rlq */
    .rlq-box{
        top: 60%;
        left: 33%;
        width: 10%;
        height: 9%;
    }
    .rlq-hl{
        top: 15%;
        left: 0.7%;
        width: 98%;
        height: 84%;
    }
    .rlq-ct{
        top: 11%;
        left: 4%;
        width: 91%;
        height: 84%;
    }
    /* ruq */
    .ruq-box{
        top: 51%;
        left: 34%;
        width: 10%;
        height: 8%;
    }
    .ruq-hl{
        top: 14.7%;
        left: 0.8%;
        width: 98%;
        height: 84%;
    }
    .ruq-ct{
        top: 22%;
        left: 4%;
        width: 91%;
        height: 84%;
    }
    .all-abs-btn-hl{
        top: 15.5%;
        left: 1.5%;
        width: 97%;
        height: 84.2%;
    }
    .container-q2{
        margin-top: 10%;
        width: fit-content;
        height: fit-content;
    }
    .container-q2::after{
        background-size: 420px 450px;
        width: 420px;
        height: 450px;
    }
    .others-box{
        top: 85%;
        left: 14%;
        width: 69%;
        height: 7%;
    }
    /* dip */
    .lf-dip-box{
        top: 32%;
        left: 20%;
        width: 7%;
        height: 3%;
    }
    .rf-dip-box{
        top: 23.5%;
        left: 32%;
        width: 7%;
        height: 3%;
    }
    .mf-dip-box{
        top: 20%;
        left: 43%;
        width: 7%;
        height: 3%;
    }
    .if-dip-box{
        top: 22%;
        left: 55%;
        width: 7%;
        height: 3%;
    }
    .dip-hl{
        top: 12.4%;
        left: 0.2%;
        width: 99.5%;
        height: 82%;
    }
    .dip-ct{
        top: 12.05%;
        left: 0%;
        width: 100%;
        height: 84.2%;
    }
    /* pip */
    .lf-pip-box{
        top: 38%;
        left: 24%;
        width: 6%;
        height: 3%;
    }
    .rf-pip-box{
        top: 31.5%;
        left: 33%;
        width: 7%;
        height: 3%;
    }
    .mf-pip-box{
        top: 29%;
        left: 44%;
        width: 7%;
        height: 3%;
    }
    .if-pip-box{
        top: 30%;
        left: 55%;
        width: 7.5%;
        height: 3%;
    }
    .tb-pip-box{
        top: 45.5%;
        right: 17%;
        width: 7%;
        height: 3.5%;
    }
    .pip-hl{
        top: 12.45%;
        left: 0%;
        width: 100%;
        height: 81.7%;
    }
    .pip-ct{
        top: 12.05%;
        left: 0%;
        width: 100%;
        height: 84.2%;
    }
     /* mcp */
     .lf-mcp-box{
        top: 45%;
        left: 27%;
        width: 8.5%;
        height: 4%;
    }
    .rf-mcp-box{
        top: 42%;
        left: 36%;
        width: 8%;
        height: 4.5%;
    }
    .mf-mcp-box{
        top: 41%;
        left: 44.5%;
        width: 8.5%;
        height: 4%;
    }
    .if-mcp-box{
        top: 40.5%;
        left: 54%;
        width: 8%;
        height: 4.5%;
    }
    .tb-mcp-box{
        top: 54%;
        right: 25%;
        width: 7%;
        height: 5%
        ;
    }
    .mcp-hl{
        top: 11.6%;
        left: 0%;
        width: 100%;
        height: 82.9%;
    }
    .mcp-ct{
        top: 12.05%;
        left: 0%;
        width: 100%;
        height: 84.2%;
    }

    .others-hl{
        top: 9.2%;
        left: 0%;
        width: 100%;
        height: 84%;
    }
    .next{
        width: 450px;
        margin-bottom: 50px;
    }
}
/*------- Small Devices -------*/
/*- equal to or less than 767px -*/
@media(max-width:767px){
    .container-q1{
        margin-top: 40%;
        width: fit-content;
        height: fit-content;
    }
    .container-q1::after{
        background-size: 294px 315px;
        width: 294px;
        height: 315px;
    }
    .all-abs-box{
        top: 89.5%;
        left: 32%;
        width: 32%;
        height: 7%;
    }
    /* epigastrium */
    .egt-box{
        top: 48%;
        left: 43%;
        width: 11%;
        height: 7%;
    }
    .egt-hl{
        top: 17%;
        left: 2.4%;
        width: 95%;
        height: 84%;
    }
    .egt-ct{
        top: 21%;
        left: 7.5%;
        width: 85%;
        height: 71%;
    }
    /* luq */
    .luq-box{
        top: 53%;
        right: 36%;
        width: 11%;
        height: 8%;
    }
    .luq-hl{
        top: 16.8%;
        left: 1%;
        width: 98%;
        height: 84%;
    }
    .luq-ct{
        top: 17%;
        left: 7%;
        width: 91%;
        height: 84%;
    }
    /* llq */
    .llq-box{
        top: 62%;
        right: 36%;
        width: 11%;
        height: 7.5%;
    }
    .llq-hl{
        top: 16.3%;
        left: 0.5%;
        width: 99%;
        height: 85%;
    }
    .llq-ct{
        top: 15%;
        left: 5%;
        width: 91%;
        height: 84%;
    }
    /* umbilicus */
    .umbilicus-box{
        top: 58%;
        left: 43.5%;
        width: 9.5%;
        height: 6.5%;
    }
    .umbilicus-hl{
        top: 16.9%;
        left: 2%;
        width: 96%;
        height: 84%;
    }
    .umbilicus-ct{
        top: 17%;
        left: 4%;
        width: 91%;
        height: 84%;
    }
    /* suprapubic */
    .suprapubic-box{
        top: 66%;
        left: 43.1%;
        width: 10.3%;
        height: 8%;
    }
    .suprapubic-hl{
        top: 16%;
        left: 1.39%;
        width: 97%;
        height: 85%;
    }
    .suprapubic-ct{
        top: 16%;
        left: 8%;
        width: 91%;
        height: 84%;
    }
    /* rlq */
    .rlq-box{
        top: 62%;
        left: 32%;
        width: 11%;
        height: 9%;
    }
    .rlq-hl{
        top: 16.7%;
        left: 0.7%;
        width: 98%;
        height: 84%;
    }
    .rlq-ct{
        top: 11%;
        left: 4%;
        width: 91%;
        height: 84%;
    }
    /* ruq */
    .ruq-box{
        top: 53%;
        left: 33%;
        width: 11%;
        height: 8%;
    }
    .ruq-hl{
        top: 16.8%;
        left: 0.8%;
        width: 98%;
        height: 84%;
    }
    .ruq-ct{
        top: 22%;
        left: 4%;
        width: 91%;
        height: 84%;
    }
    .all-abs-btn-hl{
        top: 16%;
        left: 1%;
        width: 98%;
        height: 84.2%;
    }
    .container-q2{
        margin-top: 40%;
        width: fit-content;
        height: fit-content;
    }
    .container-q2::after{
        background-size: 294px 315px;
        width: 294px;
        height: 315px;
    }
    .h3{
        font-size: 100%;
    }
    .others-box{
        top: 83%;
        left: 14.5%;
        width: 69%;
        height: 6.5%;
    }
    /* dip */
    .lf-dip-box{
        top: 33.7%;
        left: 20.7%;
        width: 6%;
        height: 3%;
    }
    .rf-dip-box{
        top: 25.7%;
        left: 33%;
        width: 5.5%;
        height: 3%;
    }
    .mf-dip-box{
        top: 22.5%;
        left: 43%;
        width: 7%;
        height: 3%;
    }
    .if-dip-box{
        top: 24.5%;
        left: 55.5%;
        width: 6.5%;
        height: 2.5%;
    }
    .dip-hl{
        top: 16.2%;
        left: 0.2%;
        width: 100%;
        height: 73.3%;
    }
    .dip-ct{
        top: 17.55%;
        left: 11%;
        width: 80%;
        height: 69.2%;
    }
    /* pip */
    .lf-pip-box{
        top: 39%;
        left: 24%;
        width: 6%;
        height: 3.5%;
    }
    .rf-pip-box{
        top: 33.5%;
        left: 33.5%;
        width: 7%;
        height: 3%;
    }
    .mf-pip-box{
        top: 30.7%;
        left: 43.7%;
        width: 7%;
        height: 3%;
    }
    .if-pip-box{
        top: 32%;
        left: 55%;
        width: 7.5%;
        height: 3%;
    }
    .tb-pip-box{
        top: 46.5%;
        right: 17.5%;
        width: 6%;
        height: 3.5%;
    }
    .pip-hl{
        top: 16.2%;
        left: 0.2%;
        width: 100%;
        height: 73.7%;
    }
    .pip-ct{
        top: 18.55%;
        left: 11%;
        width: 80%;
        height: 69.2%;
    }
     /* mcp */
     .lf-mcp-box{
        top: 46%;
        left: 27.5%;
        width: 8%;
        height: 4%;
    }
    .rf-mcp-box{
        top: 43.5%;
        left: 35.5%;
        width: 8.3%;
        height: 4.5%;
    }
    .mf-mcp-box{
        top: 42%;
        left: 44.5%;
        width: 8%;
        height: 3.5%;
    }
    .if-mcp-box{
        top: 42%;
        left: 54%;
        width: 8%;
        height: 3.5%;
    }
    .tb-mcp-box{
        top: 54.5%;
        right: 24.5%;
        width: 7.5%;
        height: 4.5%;
        ;
    }
    .mcp-hl{
        top: 16.5%;
        left: 0.2%;
        width: 100%;
        height: 73.3%;
    }
    .mcp-ct{
        top: 19.55%;
        left: 11%;
        width: 80%;
        height: 69.2%;
    }

    .others-hl{
        top: 17.5%;
        left: 0.2%;
        width: 100%;
        height: 73%;
    }
    .next{
        width: 270px;
        margin-bottom: 50px;
    }
}